@charset "UTF-8";
/* Custom Utility Classes */
.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center-between {
  align-items: center;
  justify-content: space-between;
}

.grid {
  display: grid;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hidden {
  display: none;
}

/* Media Queries */
/* /Media Queries */
/* /Custom Utility Classes */
/* Mixins & Functions */
/* /Mixins & Functions */
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/* /Reset */
/* Custom Content */
* {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.8125rem;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.375rem;
}

p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.066875rem;
  color: #434343;
}

label {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  color: #434343;
}

.hidden-icon {
  visibility: hidden;
}

.go-back {
  border: none;
  background: none;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.go-back-wrapper {
  align-items: center;
  justify-content: center;
  background-color: #5550b2;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.go-back:active .go-back-wrapper {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, #5550b2, #5550b2);
}
.go-back-icon {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(35deg) brightness(109%) contrast(106%);
}
.go-back-label {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  color: #5550b2;
}

/* /Custom Content */
.sidebar {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  width: 15.56vw;
  box-shadow: 2px 0px 6px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
  overflow-y: auto;
  flex-shrink: 0;
  flex-grow: 1;
  z-index: 999999;
  /* foi necessária a adição dos paddings aos items individualmente e não
  à sidebar como um todo para que a classe active (que mostra qual item
  do menu está selecionado) ficasse de acordo com o design.
  a outra alternativa era manter o padding na sidebar, retirar a margem
  dos itens do menu e adicionar novamente o padding neles. achei muita
  gambiarra. */
}
.sidebar__logo {
  padding: 1.3125rem 1.0625rem 1.3125rem 1rem;
}
.sidebar__logo-back {
  filter: invert(30%) sepia(69%) saturate(947%) hue-rotate(213deg) brightness(89%) contrast(88%);
  cursor: pointer;
}
.sidebar .separator {
  width: 100%;
}
.sidebar .separator__proper {
  height: 2px;
  margin-right: 1.0625rem;
  margin-left: 1rem;
  background-color: rgba(67, 67, 67, 0.2);
}
.sidebar__profile {
  padding: 1.3125rem 1.0625rem 1.3125rem 1rem;
}
@media (max-width: 1024px) {
  .sidebar__profile {
    justify-content: center;
  }
}
.sidebar .profile {
  gap: 0.5rem;
  align-items: center;
}
.sidebar .profile__photo {
  flex-shrink: 0;
}
.sidebar .profile__name {
  min-width: 0;
  font-size: 1rem;
  line-height: 1.21875rem;
  color: #5550b2;
}
.sidebar .profile__options {
  align-items: center;
  gap: 0.625rem;
}
.sidebar .profile__options-settings, .sidebar .profile__options-logout {
  gap: 0.25rem;
  cursor: pointer;
}
.sidebar .profile__options-label {
  font-weight: 500;
  font-size: 0.625rem;
  line-height: 0.761875rem;
  color: #434343;
  padding-top: 0.1875rem;
}
@media (max-width: 1024px) {
  .sidebar {
    position: fixed;
    left: -1000px;
    transition: 0.5s ease-in-out;
  }
  .sidebar.opened {
    left: 0;
    width: 100%;
  }
}
.sidebar__footer {
  display: none;
}
@media (max-width: 1024px) {
  .sidebar__footer {
    display: block;
    margin-top: 21.25rem;
    flex-grow: 1;
  }
  .sidebar__footer-container {
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .sidebar__footer-logo {
    width: 4.82875rem;
    height: 1.875rem;
  }
  .sidebar__footer-separator {
    width: 8.125rem;
  }
  .sidebar__footer-separator .separator__proper {
    height: 2px;
    color: black;
  }
  .sidebar__footer-copyright {
    align-items: center;
  }
  .sidebar__footer-copyright1, .sidebar__footer-copyright2 {
    font-family: "Roboto", sans-serif;
    font-size: 0.6875rem;
    line-height: 0.805625rem;
    color: #434343;
  }
}

.sidebar__list-items,
.sidebar__sublist-items {
  align-items: center;
  list-style: none;
  padding: 0.875rem 1.0625rem 0.875rem 1rem;
  gap: 0.6875rem;
  cursor: pointer;
  text-decoration: none;
}
.sidebar__list-more,
.sidebar__sublist-more {
  margin-left: auto;
}

.item__label {
  margin-top: 0.1875rem;
  color: #ff5900;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.066875rem;
}

.subitem__label {
  margin-top: -0.1875rem;
  color: #434343;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.914375rem;
}

.list-hidden {
  display: none;
}

.active {
  background-color: rgba(253, 103, 0, 0.07);
}

.subactive {
  background-color: rgba(85, 80, 178, 0.1);
}

main {
  height: 100vh;
  width: 100%;
  overflow-y: auto;
}
main::before {
  content: "";
  position: fixed;
  height: 100%;
  right: 0;
  left: 15.56vw;
  z-index: -99;
  opacity: 0.25;
  background-color: #e5e5e5;
  background-image: url(../assets/bg.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
}
@media (max-width: 1024px) {
  main::before {
    position: absolute;
    left: 0;
    background-size: auto;
  }
}

#content {
  padding: 3.125rem 4.375rem;
}
@media (max-width: 1024px) {
  #content {
    padding: 3.125rem 1.5rem 1.5625rem 1.875rem;
  }
}

.suggestions__header {
  margin-bottom: 1.625rem;
}
.suggestions__header-title {
  color: #5550b2;
  margin-bottom: 0.4375rem;
}
.suggestions__form {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  height: 18.75rem;
  padding: 1rem;
}
.suggestions__form-label {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #434343;
  margin-bottom: 0.375rem;
}
.suggestions__form-rating {
  background-color: rgba(208, 217, 221, 0.2);
  justify-content: center;
  padding-top: 1.625rem;
  padding-bottom: 1.8125rem;
  margin-bottom: 0.75rem;
  border-radius: 5px;
  gap: 0.625rem;
}
.suggestions__form-stars {
  width: 1.57875rem;
  height: 1.5rem;
}
.suggestions__form-stars.full {
  content: url(../../assets/star-full.svg);
}
.suggestions__form-box {
  width: 100%;
  height: 5rem;
  border: 1px solid #d0d9dd;
  border-radius: 5px;
  resize: none;
  padding: 0.3125rem;
  margin-bottom: 0.75rem;
}
.suggestions__form-submit {
  width: 6.0625rem;
  height: 2.75rem;
  border: none;
  border-radius: 5px;
  background-color: #5550b2;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.25rem;
}
.suggestions__form-submit:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, #5550b2, #5550b2);
}
@media (max-width: 1024px) {
  .suggestions__form-submit {
    width: 100%;
  }
}
.suggestions__snackbar {
  justify-content: center;
  position: absolute;
  z-index: 100;
}
.suggestions__snackbar-proper {
  width: 31.25rem;
  height: 3.25rem;
  background-color: #00c853;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: all 0.5s ease-in-out 0.5s;
}
.suggestions__snackbar-label {
  color: white;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.21875rem;
  text-align: center;
}

.visuallyhidden {
  opacity: 0;
}

.bill__header {
  margin-bottom: 1.625rem;
}
.bill__header-title {
  color: #5550b2;
  margin-bottom: 0.4375rem;
}
.bill__main {
  background-color: white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  border-radius: 10px;
}
.bill__main-form-wrapper {
  border: none;
}
.bill__controls {
  gap: 0.5rem;
  justify-content: end;
}
@media (max-width: 1024px) {
  .bill__controls {
    margin-top: 1.5rem;
  }
}
.bill__controls-copy, .bill__controls-email, .bill__controls-card {
  border: 1.5px solid white;
  background: none;
  width: 16.9375rem;
  height: 2.5rem;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.21875rem;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .bill__controls-copy, .bill__controls-email, .bill__controls-card {
    width: 100%;
  }
}
.bill__controls-link {
  text-decoration: none;
  color: white;
}

.form-wrapper {
  gap: 0.98125rem;
  margin-bottom: 0.75rem;
  grid-template-columns: 1fr 2fr;
}
@media (max-width: 1024px) {
  .form-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.form-wrapper__plan, .form-wrapper__address {
  gap: 0.375rem;
  min-width: 0;
}
.form-wrapper__plan-select, .form-wrapper__address-select {
  height: 2.5rem;
  background-color: white;
  border: 1px solid #d0d9dd;
  border-radius: 5px;
  padding: 0.6875rem 0.875rem;
  color: rgba(69, 90, 99, 0.5);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 1024px) {
  .form-wrapper__plan-select, .form-wrapper__address-select {
    font-size: 0.875rem;
    line-height: 1.0625rem;
  }
}
.form-wrapper__plan-option, .form-wrapper__address-option {
  background-color: white;
}
.form-wrapper__button {
  background-color: #5550b2;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  width: 8.4375rem;
  height: 2.75rem;
  border: none;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25rem;
  cursor: pointer;
  margin-bottom: 1.5rem;
}
@media (max-width: 1024px) {
  .form-wrapper__button {
    width: 100%;
  }
}
.form-wrapper__button:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, #5550b2, #5550b2);
}

.actual__title,
.overdue__title {
  color: #ff5900;
  font-size: 1rem;
  line-height: 1.25rem;
  margin-bottom: 0.75rem;
}
.actual__invoice,
.overdue__invoice {
  background: linear-gradient(108.63deg, #5550b2 0%, #6d66e8 100.87%);
  padding: 1.125rem 1rem 0.8125rem;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .actual__invoice,
.overdue__invoice {
    flex-direction: column;
  }
}
.actual__invoice-no-overdue,
.overdue__invoice-no-overdue {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 24.38px;
  color: white;
  margin-bottom: 1rem;
}
.actual__wrapper,
.overdue__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.9375rem;
}
@media (max-width: 1024px) {
  .actual__wrapper,
.overdue__wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
.actual__price,
.overdue__price {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 24.38px;
  color: white;
}
.actual__price-number,
.overdue__price-number {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.7425rem;
}
.actual__reference-title, .actual__status-title, .actual__duedate-title, .actual__name-title, .actual__barcode-title,
.overdue__reference-title,
.overdue__status-title,
.overdue__duedate-title,
.overdue__name-title,
.overdue__barcode-title {
  color: white;
  font-weight: 500;
  font-size: 0.6875rem;
  line-height: 0.838125rem;
}
.actual__reference-proper, .actual__status-proper, .actual__duedate-proper, .actual__name-proper, .actual__barcode-proper,
.overdue__reference-proper,
.overdue__status-proper,
.overdue__duedate-proper,
.overdue__name-proper,
.overdue__barcode-proper {
  color: white;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.066875rem;
}
.actual__status-proper,
.overdue__status-proper {
  text-transform: uppercase;
}
.actual__price, .actual__barcode,
.overdue__price,
.overdue__barcode {
  grid-column-start: 1;
  grid-column-end: 5;
}
@media (max-width: 1024px) {
  .actual__price, .actual__barcode,
.overdue__price,
.overdue__barcode {
    grid-column-end: 3;
  }
}

.overdue:last-child {
  margin-bottom: -1.5rem;
}

.green-detail {
  height: 0.3125rem;
  width: 5.63375rem;
  background-color: #00c853;
  border-radius: 5px;
}

.form-disabled {
  background-color: rgba(208, 217, 221, 0.25);
  appearance: none;
}

.footer {
  margin-top: auto;
}
.footer__container {
  padding: 1.625rem 4.375rem;
  border-top: 1px solid rgba(69, 90, 100, 0.3);
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .footer__container {
    display: none;
  }
}
.footer__copyright-year, .footer__copyright-proper {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 0.951875rem;
  color: rgba(69, 90, 100, 0.8);
}
.footer__mobile {
  display: none;
}
@media (max-width: 1024px) {
  .footer__mobile {
    display: block;
  }
}
.footer__mobile-wrapper {
  height: 5rem;
  width: 100vw;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px -2px 8px 0px rgba(0, 0, 0, 0.15);
}
.footer__mobile-options {
  margin-top: 1.0625rem;
  margin-bottom: 1.125rem;
  align-items: center;
  gap: 0.4375rem;
}
.footer__mobile-icon {
  width: 1.5625rem;
  height: 1.5625rem;
}
.footer__mobile-icon:not(.profile) {
  filter: invert(24%) sepia(0%) saturate(2%) hue-rotate(23deg) brightness(99%) contrast(91%);
}
.footer__mobile-icon.selected:not(.profile) {
  filter: invert(37%) sepia(100%) saturate(1618%) hue-rotate(359deg) brightness(98%) contrast(110%);
}
.footer__mobile-icon.selected.profile {
  border-radius: 50%;
  border: 2px solid #ff5900;
}
.footer__mobile-label {
  color: #434343;
}
.footer__mobile-label.selected {
  color: #ff5900;
}

.whatsapp {
  margin-left: auto;
  margin-right: 4.375rem;
  margin-bottom: 2.0625rem;
}
@media (max-width: 1024px) {
  .whatsapp {
    margin-left: 1.5625rem;
    margin-right: 1.5625rem;
    margin-bottom: 2.375rem;
  }
}
.whatsapp__button {
  padding: 0.5rem 1rem;
  width: 12.3125rem;
  height: 2.625rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  background-color: #d9fdd3;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .whatsapp__button {
    width: 100%;
  }
}
.whatsapp__button-label {
  text-align: center;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.066875rem;
  text-decoration: none;
  color: #434343;
  gap: 0.875rem;
  align-items: center;
}
.whatsapp__button:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), linear-gradient(0deg, #d9fdd3, #d9fdd3);
}

/*# sourceMappingURL=style.css.map */
