.footer {
  margin-top: auto;

  &__container {
    padding: calculateRem(26px) calculateRem(70px);
    border-top: 1px solid rgba(69, 90, 100, 0.3);
    align-items: center;
    justify-content: space-between;

    @include device('mobile') {
      display: none;
    }
  }

  &__copyright {
    &-year,
    &-proper {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: calculateRem(13px);
      line-height: calculateRem(15.23px);
      color: rgba(69, 90, 100, 0.8);
    }
  }

  &__mobile {
    display: none;

    @include device('mobile') {
      display: block;
    }

    &-wrapper {
      height: calculateRem(80px);
      width: 100vw;
      background-color: white;

      justify-content: space-around;
      align-items: center;
      box-shadow: 0px -2px 8px 0px rgba(0, 0, 0, 0.15);
    }

    &-options {
      margin-top: calculateRem(17px);
      margin-bottom: calculateRem(18px);
      // border: 1px solid blue;
      align-items: center;
      // justify-content: baseline;
      gap: calculateRem(7px);
    }

    &-icon {
      width: calculateRem(25px);
      height: calculateRem(25px);
      &:not(.profile) {
        filter: invert(24%) sepia(0%) saturate(2%) hue-rotate(23deg)
          brightness(99%) contrast(91%);
      }

      &.selected {
        &:not(.profile) {
          filter: invert(37%) sepia(100%) saturate(1618%) hue-rotate(359deg)
            brightness(98%) contrast(110%);
        }
        &.profile {
          border-radius: 50%;
          border: 2px solid $primary-color;
        }
      }
    }

    &-label {
      color: $text-color;

      &.selected{
        color: $primary-color;
      }
    }
  }
}

.whatsapp {
  margin-left: auto;
  margin-right: calculateRem(70px);
  margin-bottom: calculateRem(33px);

  @include device('mobile') {
    margin-left: calculateRem(25px);
    margin-right: calculateRem(25px);
    margin-bottom: calculateRem(38px);
  }

  &__button {
    padding: calculateRem(8px) calculateRem(16px);
    width: calculateRem(197px);
    height: calculateRem(42px);
    border-radius: 5px;
    border: none;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    background-color: rgba(217, 253, 211, 1);
    justify-content: center;
    align-items: center;

    @include device('mobile') {
      width: 100%;
    }

    &-label {
      text-align: center;
      font-weight: 400;
      font-size: calculateRem(14px);
      line-height: calculateRem(17.07px);
      text-decoration: none;
      color: $text-color;
      gap: calculateRem(14px);
      align-items: center;
    }

    &:active {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
        linear-gradient(0deg, #d9fdd3, #d9fdd3);
    }
  }
}
