main {
  height: 100vh;
  width: 100%;
  //the overflow was needed to create a scroll on the content area when it was bigger
  //than the viewport and maintain the navbar fixed 
  overflow-y: auto;

  &::before {
    content: '';
    position: fixed;
    height: 100%;
    right: 0;
    left: 15.56vw;
    z-index: -99;
    opacity: 0.25;

    background-color: #e5e5e5;
    background-image: url(../assets/bg.svg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;

    @include device('mobile') {
      position: absolute;
      left: 0;
      background-size: auto;
    }
  }
}

#content {
  padding: calculateRem(50px) calculateRem(70px);
  @include device('mobile') {
    padding: calculateRem(50px) calculateRem(24px) calculateRem(25px)
      calculateRem(30px);
  }
}
