.sidebar {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  width: 15.56vw;
  box-shadow: 2px 0px 6px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
  overflow-y: auto;
  flex-shrink: 0;
  z-index: 999999;

  /* foi necessária a adição dos paddings aos items individualmente e não
à sidebar como um todo para que a classe active (que mostra qual item
do menu está selecionado) ficasse de acordo com o design.
a outra alternativa era manter o padding na sidebar, retirar a margem
dos itens do menu e adicionar novamente o padding neles. achei muita
gambiarra. */

  &__logo {
    padding: calculateRem(21px) calculateRem(17px) calculateRem(21px)
      calculateRem(16px);

    &-back {
      cursor: pointer;
    }
  }

  .separator {
    width: 100%;
    &__proper {
      height: 2px;
      margin-right: calculateRem(17px);
      margin-left: calculateRem(16px);
      background-color: rgba(67, 67, 67, 0.2);
    }
  }

  &__profile {
    padding: calculateRem(21px) calculateRem(17px) calculateRem(21px)
      calculateRem(16px);

    @include device('mobile'){
      justify-content: center;
    }
  }

  .profile {
    gap: calculateRem(8px);
    align-items: center;

    &__photo {
      flex-shrink: 0;
    }

    &__name {
      min-width: 0;
      font-size: calculateRem(16px);
      line-height: calculateRem(19.5px);
      color: $secondary-color;
    }

    &__options {
      align-items: center;
      gap: calculateRem(10px);
      &-settings,
      &-logout {
        gap: calculateRem(4px);
        cursor: pointer;
      }
      &-label {
        font-weight: 500;
        font-size: calculateRem(10px);
        line-height: calculateRem(12.19px);
        color: $text-color;
        padding-top: calculateRem(3px);
      }
    }
  }

  @include device('mobile') {
    position: fixed;
    left: -1000px;
    transition: 0.5s ease-in-out;

    &.opened {
      left: 0;
      width: 100%;
    }
  }

  &__container {
    align-items: stretch;
    height: 100%;
    max-height: 100%;
    overflow-y: hidden;
  }

  &__footer {
    display: none;

    @include device('mobile') {
      display: block;
      // margin-top: calculateRem(340px);
      margin-bottom: calculateRem(103px);

      &-container {
        justify-content: center;
        align-items: center;
        gap: calculateRem(8px);
      }

      &-logo {
        width: calculateRem(77.26px);
        height: calculateRem(30px);
      }

      &-separator {
        width: calculateRem(130px);

        .separator__proper {
          height: 2px;
          color: black;
        }
      }

      &-copyright{
        align-items: center;
      }

      &-copyright1,
      &-copyright2 {
        font-family: 'Roboto', sans-serif;
        font-size: calculateRem(11px);
        line-height: calculateRem(12.89px);
        color: $text-color;
      }
    }
  }
}

.sidebar__list,
.sidebar__sublist {
  &-items {
    align-items: center;
    list-style: none;
    padding: calculateRem(14px) calculateRem(17px) calculateRem(14px)
      calculateRem(16px);
    gap: calculateRem(11px);
    cursor: pointer;
  }

  &-more {
    margin-left: auto;
  }
}

.item {
  &__label {
    margin-top: calculateRem(3px);
    color: $primary-color;
    font-weight: 600;
    font-size: calculateRem(14px);
    line-height: calculateRem(17.07px);
  }
}

.subitem {
  &__label {
    margin-top: calculateRem(-3px);
    color: $text-color;
    font-weight: 500;
    font-size: calculateRem(12px);
    line-height: calculateRem(14.63px);
  }
}

.list-hidden {
  display: none;
}

.active {
  background-color: rgba(253, 103, 0, 0.07);
}

.subactive {
  background-color: rgba(85, 80, 178, 0.1);
}
