.suggestions {
  &__back {
    border: none;
    background: none;
    align-items: center;
    gap: calculateRem(8px);
    margin-bottom: calculateRem(16px);
    cursor: pointer;

    &-wrapper {
      align-items: center;
      justify-content: center;
      background-color: $secondary-color;
      width: calculateRem(40px);
      height: calculateRem(40px);
      border-radius: 50%;
    }

    &:active {
      .suggestions__back-wrapper {
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)
          ),
          linear-gradient(0deg, #5550b2, #5550b2);
      }
    }

    &-icon {
      filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(35deg)
        brightness(109%) contrast(106%);
    }

    &-label {
      font-family: 'Montserrat', sans-serif;
      font-size: calculateRem(16px);
      font-style: normal;
      font-weight: 500;
      line-height: calculateRem(20px);
      color: $secondary-color;
    }
  }

  &__header {
    margin-bottom: calculateRem(26px);
    &-title {
      color: $secondary-color;
      margin-bottom: calculateRem(7px);
    }
  }

  &__form {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 0px hsla(0, 0%, 0%, 0.15);
    height: calculateRem(300px);
    padding: calculateRem(16px);

    &-label {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: $text-color;
      margin-bottom: calculateRem(6px);
    }

    &-rating {
      background-color: hsla(198, 16%, 84%, 0.2);
      justify-content: center;
      padding-top: calculateRem(26px);
      padding-bottom: calculateRem(29px);
      margin-bottom: calculateRem(12px);
      border-radius: 5px;
      gap: calculateRem(10px);
    }

    &-stars {
      width: calculateRem(25.26px);
      height: calculateRem(24px);

      &.full {
        content: url(../../assets/star-full.svg);
      }
    }

    &-box {
      width: 100%;
      height: calculateRem(80px);
      border: 1px solid hsla(198, 16%, 84%, 1);
      border-radius: 5px;
      resize: none;
      padding: calculateRem(5px);
      margin-bottom: calculateRem(12px);
    }

    &-submit {
      width: calculateRem(97px);
      height: calculateRem(44px);
      border: none;
      border-radius: 5px;
      background-color: $secondary-color;
      box-shadow: 0px 2px 6px 0px hsla(0, 0%, 0%, 0.1);
      cursor: pointer;

      color: white;
      font-weight: 700;
      text-transform: uppercase;
      font-size: calculateRem(16px);
      line-height: calculateRem(20px);

      &:active {
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)
          ),
          linear-gradient(0deg, #5550b2, #5550b2);
      }

      @include device('mobile') {
        width: 100%;
      }
    }
  }

  &__snackbar {
    justify-content: center;
    position: absolute;
    z-index: 100;

    &-proper {
      width: calculateRem(500px);
      height: calculateRem(52px);
      background-color: $ok-green;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      transition: all 0.5s ease-in-out 0.5s;
    }

    &-label {
      color: white;
      font-weight: 500;
      font-size: calculateRem(16px);
      line-height: calculateRem(19.5px);
      text-align: center;
    }
  }
}

.visuallyhidden {
  opacity: 0;
}
